@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 33% 97%;
    --foreground: 60 10% 20%;
    --card: 60 30% 99%;
    --card-foreground: 60 10% 20%;
    --popover: 60 30% 99%;
    --popover-foreground: 60 10% 20%;
    --primary: 60 100% 25%;
    --primary-foreground: 60 50% 95%;
    --secondary: 60 40% 92%;
    --secondary-foreground: 60 100% 25%;
    --muted: 60 40% 92%;
    --muted-foreground: 60 10% 45%;
    --accent: 60 56% 91%;
    --accent-foreground: 60 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 88%;
    --input: 60 20% 90%;
    --ring: 60 100% 25%;
    --chart-1: 60 100% 25%;
    --chart-2: 60 56% 65%;
    --chart-3: 60 40% 50%;
    --chart-4: 60 74% 66%;
    --chart-5: 60 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 30% 99%;
    --sidebar-foreground: 60 10% 20%;
    --sidebar-primary: 60 100% 25%;
    --sidebar-primary-foreground: 60 50% 95%;
    --sidebar-accent: 60 56% 91%;
    --sidebar-accent-foreground: 60 100% 25%;
    --sidebar-border: 60 20% 88%;
    --sidebar-ring: 60 100% 25%;
  }
  .dark {
    --background: 60 10% 10%;
    --foreground: 60 10% 95%;
    --card: 60 10% 12%;
    --card-foreground: 60 10% 95%;
    --popover: 60 10% 12%;
    --popover-foreground: 60 10% 95%;
    --primary: 60 100% 30%;
    --primary-foreground: 60 50% 98%;
    --secondary: 60 10% 20%;
    --secondary-foreground: 60 10% 95%;
    --muted: 60 10% 20%;
    --muted-foreground: 60 10% 65%;
    --accent: 60 10% 25%;
    --accent-foreground: 60 10% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 10% 20%;
    --input: 60 10% 20%;
    --ring: 60 100% 30%;
    --chart-1: 60 100% 30%;
    --chart-2: 60 56% 70%;
    --chart-3: 60 40% 55%;
    --chart-4: 60 74% 71%;
    --chart-5: 60 87% 72%;
    --sidebar-background: 60 10% 12%;
    --sidebar-foreground: 60 10% 95%;
    --sidebar-primary: 60 100% 30%;
    --sidebar-primary-foreground: 60 50% 98%;
    --sidebar-accent: 60 10% 25%;
    --sidebar-accent-foreground: 60 10% 95%;
    --sidebar-border: 60 10% 20%;
    --sidebar-ring: 60 100% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
